<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width">
    <title>PARTSMAN</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link href="iconmonstr-tools-3.svg" rel="icon" type="image/svg" />
</head>
<body style="display:flex;justify-content:center;align-items:center;flex-direction:column;height:80vh;">


    <div><span>Ваш номер заявки</span></div>
    <div><span th:text="${orderNumber}"></span></div>
    <div><a href="/">На главную</a></div>

    <script src="order.js"></script>

</body>
</html>